{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Share</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <script>
        const refreshTextUrl = '{% url "text_share:refresh_text" %}';
        const serverIp = `{{ server_socket.host }}`;
        const serverPort = `{{ server_socket.port }}`;
    </script>

    <div class="">
        <form method="post" action="{% url 'text_share:text_share' %}">
            {% csrf_token %}
            {{form|crispy}}

            <p>last updated: <span id="textAge" style="color: green;">Just now {{ server_socket.host }}</span></p>

            <button type="submit" class="btn btn-success">Share</button>
            <button type="button" class="btn btn-primary" onclick="copyText();">Copy</button>
            <button type="button" class="btn btn-info" onclick="refreshText();">Refresh</button>
        </form>
        <br>
        <a href="{% url 'print_file' %}">back to print</a>
    </div>
</body>

<script type="application/javascript" src="{% static 'text_share/text_share.js' %}"></script>
</html>